.seatCell {
  width: 40px;
  height: 40px;
  border: 1px solid var(--primary);
  color: white;
  margin: 4px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
}

.seatCell:hover {
  background-color: var(--primary);
}

.nonSeat {
  background-color: transparent;
  cursor: not-allowed;
  color: transparent;
  border: none;
}

.nonSeat:hover{
  background-color: transparent;
}
