.movieDetail {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 48px;
    padding: 24px 24px;
    color: white;
    border-radius: 48px;
    background: rgb(0,0,0);
    background: linear-gradient(148deg, rgba(0,0,0,1) 28%, rgba(0,6,22,0.918732458803834) 75%, rgba(1,17,29,0.2660713943780637) 100%);
  }
  
  .poster {
    border-radius: 10px;
    width: 240px;
    height: 320px;
  }
  
  .detailsSection {
    /* flex: 0 1 auto; */
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .genresAndTime {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 12px;
    font-size: 1rem;

  }

  .genres{
    display: flex;
    gap: 4px;
    margin-bottom: 8px;
  }
  
  .genre{
    color: #000000;
    background-color: #ffef9f;
    padding: 4px;
    border-radius: 4px;
    font-size: 0.7rem;
  }
  
  .runningTime {
    color: #666;
  }
  
  .synopsis {
    font-size: 0.9rem;
    margin-bottom: 12px;
    line-height: 1.6;
    background-color: rgba(0, 0, 0, 0.319);
    padding: 4px;
    width: 90%;
  }
  
  .castSection {
    width: 90%;
  }
  
  .castList {
    margin-top: 8px;
    display: flex;
    gap: 20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
  }
  
  .castList li {
    font-size: 0.8rem;
    background-color: #313131;
    color: #9d9d9d;
    padding:4px;
  }

  .btn{
    text-align: center;
    padding: 8px;
    margin-top: 16px;
    width: 120px;
    background-color: rgb(240, 71, 71);
    border-radius: 4px;
  }

  .btn:hover {
    transform: scale(1.02); 
  }
  
  