/* Modal.module.css */

  .ModalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background:rgba(0, 0, 0, 0.699);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

    
  .ModalBox {
    background-color: #0f0f0f;
    border-radius: 16px;
    position: relative;
    z-index: 1001;
    width: auto;
    max-height: 80vh; /* Set a maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 16px; /* Optional: add padding inside the modal */
    box-sizing: border-box; /* Ensures padding is included in the height calculation */
  }
  

  .ModalBox.light{
    background-color: #f8f9fa;
  }

  .ModalBox.light img{
    height: 16px;
    width:16px;
  }

  .ModalClose button:first-child{
    padding: 10px;
    gap: 0;
    background-color: transparent;
    margin-left: auto;
  }

  .ModalBox.light .ModalClose button:first-child{
    background-color: rgba(7, 44, 107, 0.772);
    padding: 8px;
    width: auto;
    border-radius: 24px;
    margin:8px;
    margin-left: auto;
  }

  .ModalClose button:hover {
    transform: scale(1.05);
    background-color: transparent;
  }


  

  